@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face {
    font-family: "Gota";
    src: url("/font/Gota.otf");
}

:root {
    --color-1: #D9EDDB;
    --color-2: #191D16;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: "JetBrains Mono", monospace;
    background-color: var(--color-2);
    line-height: 1.2;
    margin: 0;
    padding: 0;
    
}

img {
    width: 100%;
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.color-1 {
    color: var(--color-1);
}

.color-2 {
    color: var(--color-2);
}

.font-size-96 {
    font-size: 6rem;
}

.font-size-72 {
    font-size: 4.5rem;
    font-family: "Gota", sans-serif;

}

.font-size-52 {
    font-size: 3.25rem;
}

.font-size-40 {
    font-size: 2.5rem;
}

.font-size-32 {
    font-size: 2rem;
}

.font-size-24 {
    font-size: 1.5rem;
    font-weight: 700;
}

.font-size-18 {
    font-size: 1.125rem;
}

a:hover {
    text-decoration: none;
}

#hero {
    height: 100vh;
    background: url("/images/hero.png") center center/cover no-repeat;
    position: relative;
    width: 100%;
}


.font-size-96,
.font-size-24 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
}

nav {
    max-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%, -50%);
}

.nav-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-items {
    position: relative;
    z-index: 1;
}

.nav-link {
    color: var(--color-2);
    margin-bottom: 2.3rem;
}


.hero-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 53.0625rem;
    color: var(--color-1);
}


.hero-heading {
    font-size: 6rem;
    -webkit-text-stroke: 3px #CBDEBF;
}

.hero-btns {
    gap: 3rem;
}

.hero-btn {
    position: relative;
    width: 100%;
    max-width: 9.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-2);
    min-height: 3.7rem;
    margin-top: 1rem;

}

.hero-btn-img {
    position: absolute;
    top: 0;
    left: 0;

}

.hero-btn span {
    position: relative;
    z-index: 1;
}

/* About */
#about {
    background: url('./images/aboutbg.svg') center center/cover no-repeat;
    background-position-y: -200px;
    padding: 5rem 0 2.5rem 0;
}

.custom-container {
    max-width: 81rem;
    margin-inline: auto;
}

.social-handles {
    gap: 1.5rem;
}

.handle {
    box-shadow: 5px 5px 0px 0px #042008;
    background-color: var(--color-1);
    border: 2px solid #191D16;
    background: #D9EDDB;
    width: 100%;
    max-width: 4.5rem;
    height: 4.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-img {
    max-width: 24px;
}



.about-content {
    padding: 5rem 0 2.5rem 0;
}

.about-heading,
.about-text-content {
    position: relative;
    padding: 3rem;
}

.about-heading {
    height: 100%;
}

.about-text-content {
    height: 100%;
    font-size: 1.125rem;
    font-weight: 400;
}

.about-heading-img,
.about-text-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.about-subtitle {
    font-size: 1.5rem;
}



.about-btn {
    color: var(--color-1);
}


/* Video */
#video {
    padding-block: 4rem;
}

.video {
    width: 100%;
    max-width: 53rem;
    border: 5px solid #334334;
    box-shadow: 8px 8px 0px 0px #10531B;
    height: 33rem;
    border-radius: 24px;
    margin-inline: auto;
}

/* Tokenomics */
#tokenomics {
    padding-top: 6rem;
}

.address-text {
    font-size: 2.2vw;
}

#live-chart {
    padding-top: 4rem;
}

.live-chart {
    max-width: 100%;
    overflow: hidden;
}

.footer-nav {
    padding: 2rem;
    border-radius: 40px;
    background-color: var(--color-2);
}

#footer {
    padding: 6rem 0;

    position: relative;
}


#footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('./images/aboutbg.svg') center center/cover no-repeat;
    transform: scaleY(-1);
    z-index: -1;
    /* Make sure the background stays behind the content */
}

.footer-nav a {
    padding: 10px 15px;
}

.logo {
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    background-color: var(--color-1);
}




@media (max-width: 1500px) {
    html {
        font-size: 11px;
    }
}




.custom-flex {
    display: flex;
    align-items: center;
}


.welcome {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #000;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color:  rgb(128, 128, 128);
    padding: 1rem;
    line-height: 1.5;

}

.text {
    margin-bottom: 2rem;
}

.cursor {
    display: inline-block;
    width: 10px;
    background-color: rgb(128, 128, 128);
    margin-left: 2px;
    animation: blink 1s step-end infinite;
    height: 5px;
}


.button, .continue {
    margin-top: 4rem;
}

.button {
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(128, 128, 128);
    border: solid 1px rgb(128, 128, 128);
    outline: none;
    box-shadow: -2px -2px 0px rgb(128, 128, 128);
    cursor: pointer;

}

.button:active {
    box-shadow: inset -2px -2px 0px rgb(128, 128, 128);
}

.hide {
    display: none;
}

.show-text {
    display: block;
}



@keyframes blink {
    50% {
        opacity: 0;
    }
}


@media (max-width: 575.98px) {

    .font-size-72 {
        font-size: 4.5rem;

    }

    .font-size-52 {
        font-size: 2.25rem;

    }

    .font-size-40 {
        font-size: 2.5rem;

    }

    .font-size-32 {
        font-size: 2rem;

    }

    .font-size-24 {
        font-size: 1.125rem;

    }

    .font-size-18 {
        font-size: 1.125rem;
    }

    .address-text {
        font-size: calc(2.45vw + 1px);
    }


    .social-handles {
        gap: .5rem;
    }

    .handle {
        max-width: 3.5rem;
        height: 3.5rem;


    }

    .hero-heading {
        font-size: 5rem;
    }
    
    .text {
        font-size: 9px !important;
    }

}



@media (max-width: 767.98px) {

    .custom-flex {
        display: block;
        margin-left: 0px !important;
        padding-left: 0px !important;
        align-items: center;
    }

    .navbar-brand {
        justify-content: flex-start !important;
        margin-bottom: 2.5rem;
    }

    .custom-flex .nav-item {
        margin: 0 0 2.5rem 0 !important;
    }



    .font-size-72 {
        font-size: 3rem;

    }

    .about-img {
        margin-bottom: 1rem;
        max-width: 400px;
        margin-inline: auto;
    }


    nav .nav-link {
        margin-bottom: 1rem;
        font-size: 1.125rem;
    }

    nav {
        top: 25%;
    }

    .address-text {
        font-size: 2.8vw !important;
    }
}


@media (max-width: 991.98px) {

    .address-text {
        font-size: calc(2.45vw + 3px);
    }



}


@media (max-width: 1199.98px) {}
